/* Some other stuff should be here */

* { 
    margin: 0%; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a.active {
    color: red;
    color: honeydew;
}
a:hover {
    color: green;
}
.header-container {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    /*flex-direction: column;*/   
}

.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    padding: 5;
    font-size: 24px;
    color: #f9faf8;
}

.navbar .nav-links {
    display: flex;
    align-self: flex-end;
    font-size:12px;
    color: #e5e7eb;
    padding: 8px;
}
.navbar .nav-links li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

.main-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    /*height: 270px;*/
    padding-top: 30px;
    padding-bottom: 50px;
}
 .main-header-container h1 {
     font-size: 48px;
     font-weight: bolder;
     justify-content: flex-start;
 }
 .main-header-text {
    color: #f9faf8;

 }
 /*
 .main-header-image {
    height: auto;
    width: 400px;

 }*/

 #header-image {
    height: auto;
    width: 350px;  
    padding: 10px;
    border-radius: 10px;
 }

#button {
    background: #3882d6;
    border-radius: 5px;
    color: white;
    border: 1px solid #3882d6;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    width: 65px;
    margin-top: 5px;
}