
* {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
}


.header-container {
    display: flex;
    background-color: wheat;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    /*flex-direction: column;*/
    
    
}
.navbar {
    display: flex;
    border: 5px solid red;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    /*flex-direction: column;
    flex-wrap: wrap;*/

}
.navbar .one {
    display: flex;
    border: 2px solid yellow;
    padding: 5;
}

.navbar .two {
    display: flex;
    border: 2px solid greenyellow;
    align-self: flex-end;
    
}

.two li {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid red;
    display: inline;
    float: left;
}

.navbar .text-container {
    display: flex;
    justify-content: center;
}


